<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 text1">
            <h2>Portfolio Personal</h2>
            <p>Este es mi primer proyecto realizado con los conocimientos adquiridos en Argentina Programa, en el cual muestro mis habilidades para realizar mi primer portfolio personal, donde hablo un poco de mi personalidad y mis experiencias.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 img2">
            <img src="../../../assets/Portfolio.png" class="img-fluid fotoproject" alt="">
        </div>
    </div>
</div>