.row {
    background: rgb(199, 199, 199);
    padding: 25px;
}

.contenedor {
    width: auto;
}
.text1, .img2 {
    display: inline-block;
    text-align: justify;
}
h1, .img2 {
    border-style: outset;
    border-color: greenyellow;
}

.fotoproject {
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
}