<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 text1">
            <h2>Portfolio Personal</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis neque inventore odio, fugit sed enim soluta! Nulla nihil tempora dolore voluptas reiciendis culpa quod doloribus at quibusdam? Officiis, fugit dolores.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 img2">
            <img src="../../../assets/Portfolio.png" class="img-fluid fotoproject" alt="">
        </div>
    </div>
</div>