<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.png" class="img-fluid" alt="" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Russian Cabello Nolys Rafael</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>🙋‍♂️ ¡Hola, soy un joven entusiasta apasionado por el mundo digital e informático, 
                con cuatro años y sumando de experiencia en el rubro de seguridad física CCTV y CONTROL ACCESS, 
                siendo participe de muchos proyectos en barrios cerrados y consorcios, culminados satisfactoriamente.</p>
        </span>
    </div>
</div>