<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="100"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'Productividad'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="95"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'Comunicacion'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="80"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'Liderazgo'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="40"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'Inlges'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="45"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'Git / GitHub'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="35"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'Javascript'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="30"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'CSS'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="38"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'HTML'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
</div>