<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'Trabajo en equipo'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'Productividad'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'Comunicacion'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'Trabajo en equipo'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'Trabajo en equipo'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="90"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7400'"
            [innerStrokeColor]="'#0C100E'"
            [animation]="true"
            [animationDuration]="500"
            [unitsFontSize]="'30'"
            [titleFontSize]="'40'"
            [subtitle]="'Trabajo en equipo'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'30'"
            [subtitleColor]="'#0C100E'"
            [imageSrc]="''"
            [showImage]="false"
            [animateSubtitle]="false"
            [lazy]="true"

        ></circle-progress>
    </div>
</div>