<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>Distribuidora MFM</h2> - <h4>(6 meses)</h4>
                <p>   
                    Encargado de deposito.
                </p>
            </li>
            <li>
                <h2>Mas sabrosa (Fast food)</h2> - <h4>(1 año)</h4>
                <p>
                    Encargado del personal, control de mercaderia, atencion al publico.
                </p>
            </li>
            <li>
                <h2>Green Armor S.a</h2> - <h4>(4 años)</h4>
                <p>
                    Supervisor del area de monitoreo (CCTV), Instalador de elementos electronicos, soporte remoto.
                </p>
            </li>
        </ul>
    </div>
</div>